In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
%cd '/content/gdrive/MyDrive/Colab Notebooks/ModernDataScience_Project/data'

/content/gdrive/MyDrive/Colab Notebooks/ModernDataScience_Project/data

In [ ]:
!pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.6.0.20230303-py3-none-any.whl (71 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 71.6/71.6 KB 4.4 MB/s eta 0:00:00
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from snscrape) (4.9.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from snscrape) (4.9.2)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.9/dist-packages (from snscrape) (2.25.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from snscrape) (3.9.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->snscrape) (2.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (1.26.14)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (4.0.0)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.6.0.20230303

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

query = "HPV vaccine"
tweets = []
limit = 100000


for tweet in sntwitter.TwitterSearchScraper(query).get_items():

    # print(vars(tweet))
    # break
    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.date, tweet.username, tweet.content])

df = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(df)

# to save to csv
df.to_csv('HPV Vaccine.csv')

<ipython-input-5-33e49c6d0c20>:16: DeprecatedFeatureWarning: username is deprecated, use user.username instead
  tweets.append([tweet.date, tweet.username, tweet.content])
<ipython-input-5-33e49c6d0c20>:16: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets.append([tweet.date, tweet.username, tweet.content])

In [ ]:
import pandas as pd
df = pd.read_csv('cancer effective vaccine.csv')

In [ ]:
df.head()

,Unnamed: 0,Date,User,Tweet
0,0,2023-03-12 22:32:02+00:00,tightwines,@SandraWeeden This is short-term!\nThey are ho...
1,1,2023-03-12 22:21:12+00:00,PPatrick007,@backtolife_2023 Just adopt the theory everyth...
2,2,2023-03-12 18:17:31+00:00,DNeviles,@ClownWorld_ It's the Same Science that calls ...
3,3,2023-03-12 16:07:34+00:00,o_xpqx_o,@WashburneAlex Collin Powell suffered from a f...
4,4,2023-03-12 14:22:23+00:00,jneill,@ImKatieRN @dann58638436 @ShaneAKAProp @jimeek...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14323 entries, 0 to 14322
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  14323 non-null  int64
 1   Date        14323 non-null  object
 2   User        14323 non-null  object
 3   Tweet       14323 non-null  object
dtypes: int64(1), object(3)
memory usage: 447.7+ KB

In [ ]:
df[df['Tweet'].duplicated(keep=False)].sort_values('Tweet').head(10)

,Unnamed: 0,Date,User,Tweet
2234,2234,2022-03-21 19:13:13+00:00,Nick_Carmody,"""Sunk Cost Fallacy"" will lead to the politiciz..."
2235,2235,2022-03-21 19:13:13+00:00,Nick_Carmody,"""Sunk Cost Fallacy"" will lead to the politiciz..."
10626,10626,2017-02-09 15:30:56+00:00,PolicyLabCHOP,#HPV #vaccines are an effective #cancer preven...
10622,10622,2017-02-14 18:01:45+00:00,PolicyLabCHOP,#HPV #vaccines are an effective #cancer preven...
10617,10617,2017-02-24 18:01:49+00:00,PolicyLabCHOP,#HPV #vaccines are an effective #cancer preven...
11566,11566,2015-02-15 23:38:00+00:00,greg_folkers,#HPV vaccine highly effective against multiple...
11544,11544,2015-02-17 14:20:18+00:00,greg_folkers,#HPV vaccine highly effective against multiple...
12694,12694,2013-10-22 13:37:28+00:00,GuyFraker,#Q: Would U own #stock in a #pharma co. w/ a v...
12695,12695,2013-10-22 13:37:27+00:00,get2kno_news,#Q: Would U own #stock in a #pharma co. w/ a v...
11280,11280,2015-09-17 21:24:02+00:00,Primary_Care_,#US #herbs (Reuters) - Advaxis Inc said its ex...

In [ ]:
df = df.drop_duplicates('Tweet')

In [ ]:
df.head()

,Unnamed: 0,Date,User,Tweet
0,0,2023-03-12 22:32:02+00:00,tightwines,@SandraWeeden This is short-term!\nThey are ho...
1,1,2023-03-12 22:21:12+00:00,PPatrick007,@backtolife_2023 Just adopt the theory everyth...
2,2,2023-03-12 18:17:31+00:00,DNeviles,@ClownWorld_ It's the Same Science that calls ...
3,3,2023-03-12 16:07:34+00:00,o_xpqx_o,@WashburneAlex Collin Powell suffered from a f...
4,4,2023-03-12 14:22:23+00:00,jneill,@ImKatieRN @dann58638436 @ShaneAKAProp @jimeek...

In [ ]:
import pandas as pd
import re
from bs4 import BeautifulSoup
import string

# Remove URLs from a specific column
df['Tweet'] = df['Tweet'].apply(lambda x: re.sub(r'http\S+', '', x))

# Remove HTML tags from a specific column
df['Tweet'] = df['Tweet'].apply(lambda x: BeautifulSoup(x, 'lxml').get_text())

# Remove punctuation from a specific column
df['Tweet'] = df['Tweet'].apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))

# Remove smileys from a specific column
df['Tweet'] = df['Tweet'].apply(lambda x: re.sub('[^a-zA-Z0-9\s]+', '', x))

# Convert Text in a specific column to lowercase
df['Tweet'] = df['Tweet'].str.lower()

# Remove newline characters from a specific column
df['Tweet'] = df['Tweet'].str.replace('\n', '')

# Remove "@" symbol from a specific column
df['Tweet'] = df['Tweet'].str.replace('@', '')

In [ ]:
df.head()

,Unnamed: 0,Date,User,Tweet
0,0,2023-03-12 22:32:02+00:00,tightwines,sandraweeden this is shorttermthey are hoping ...
1,1,2023-03-12 22:21:12+00:00,PPatrick007,backtolife2023 just adopt the theory everythin...
2,2,2023-03-12 18:17:31+00:00,DNeviles,clownworld its the same science that calls an ...
3,3,2023-03-12 16:07:34+00:00,o_xpqx_o,washburnealex collin powell suffered from a fo...
4,4,2023-03-12 14:22:23+00:00,jneill,imkatiern dann58638436 shaneakaprop jimeekay t...

In [ ]:
!pip install langid

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: langid in /usr/local/lib/python3.9/dist-packages (1.1.6)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from langid) (1.22.4)

In [ ]:
import langid

# Identify the language of each row in a specific column
df['language'] = df['Tweet'].apply(lambda x: langid.classify(x)[0])

# Keep only the rows where the language is English
df = df[df['language'] == 'en']

# Remove the language column
df = df.drop(columns=['language'])

In [ ]:
df.head(10)

,Unnamed: 0,Date,User,Tweet
0,0,2023-03-12 22:32:02+00:00,tightwines,sandraweeden this is shorttermthey are hoping ...
1,1,2023-03-12 22:21:12+00:00,PPatrick007,backtolife2023 just adopt the theory everythin...
2,2,2023-03-12 18:17:31+00:00,DNeviles,clownworld its the same science that calls an ...
3,3,2023-03-12 16:07:34+00:00,o_xpqx_o,washburnealex collin powell suffered from a fo...
4,4,2023-03-12 14:22:23+00:00,jneill,imkatiern dann58638436 shaneakaprop jimeekay t...
5,5,2023-03-12 14:05:03+00:00,dann58638436,jneill shaneakaprop jimeekay tbd77 dylanhalacy...
6,6,2023-03-11 16:51:55+00:00,chrisas82324768,xrpimpin 9newsmelb emilyrice28 hilarious just ...
7,7,2023-03-11 12:04:40+00:00,RobertSapiro9,are people starting to realize the experimenta...
8,8,2023-03-11 11:45:00+00:00,7NewsBrisbane,australian researchers are a step closer to di...
9,9,2023-03-11 11:45:00+00:00,7NewsAdelaide,australian researchers are a step closer to di...

In [ ]:
df.shape

(13385, 4)

In [ ]:
# Save the preprocessed dataset to a new CSV file
df.to_csv('Preprocessed_dataset.csv', index=False)